:root {
    --primary-color: #202030;
    --secondary-color: #39304A;
    --accent1-color: #7D7461;
    --accent2-color: #B0A990;
}

* {
    max-width: 100%;
}

.gridbox {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    place-items: center;
}

.gridbox img {
    width: 180px;
    height: auto;
    padding: 10px;
}

nav {
    display: flex;
    flex-flow: row;
}

nav a {
    display: block;
    padding: 2em 1em 2em 2em;
    font-size: 30px;
}

h1 {
    position: absolute;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    font-family: Hind Siliguri;
    bottom: 26em;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    border: 2px solid var(--primary-color);
    background-color: var(--accent2-color);
    text-align: center;
}

p {
    font-family: Roboto;
}


article {
    position: absolute;
    background-color: var(--accent2-color);
    margin: 10px 1px;
    bottom: 90px;
    padding-left: 30px;
}

main section {
    position: relative;
}

main section img {
    width: 200px;
    height: auto;
}

footer div {
    display: grid;
    grid-template: auto / auto auto;
    border-top: 3px solid var(--accent1-color);
}

footer p {
    justify-content: center;
    align-items: center;
}

figure {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
}

figure image {
    justify-content: center;
    align-items: center;
}

figcaption {
    grid-row: 2/3;
    justify-content: center;
    align-items: center;
}

.hero article img {
    float: right;
    width: 300px;
    height: auto;
}


.divbox {
    display: grid;
    grid-template: auto / auto auto auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.divbox img {
    padding: 20px;
}

.divbox p {
    padding: 1px 20px;
}

.sociallinks {
    display: grid;
    grid-template: auto / auto auto auto;
    align-items: center;
}

.sociallinks a {
    text-decoration: none;
    padding: 0px;
}

.sociallinks img {
    width: 30px;
    height: auto;  
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
