:root {
    --main-color: #4682b4;
    --secondary-color: #46B49C;
    --main-font-color: black;
    --secondary-font-color: white;
}

main {
    max-width: 840px;
}
nav {
    background-color: var(--main-color);
    padding: 10px;
}
nav a {
    color: var(--secondary-font-color);
    display: block;
    padding: 10px;
}
h1 {
    color: var(--main-color);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--main-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
aside {
    width: 20em;
    margin: 2px;
    border: 1px solid var(--main-font-color);
    padding: 1em;
    background-color: var(--secondary-color);
    color: var(--main-font-color);
    text-align: center;
}
aside img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
footer {
    margin-top: 30px;
    border-top: 1px solid var(--main-font-color);
    text-align: center;
}
body {
    border: 1px solid var(--main-font-color);
}

/* Absolutely epic */